.navbar{
        display: flex;
        justify-content: space-between;
        background-color: rgb(1, 178, 238);
        color: white;
        border-radius: 5px;
        
    }
    .items{
           list-style: none;
           font-size: large;
           display: flex;
           justify-content: space-between;
           flex-direction: row;
           gap: 50px;
           margin-left: 700px;
           margin-top: 20px;
           
    }
    